@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-work-sans);
}

@theme {
  --color-brand-black: #121212;
  --color-brand-black-secondary: #2C2C2C;
  --color-brand-black-tertiary: #222222;
  --color-brand-white: #F5F5F5;
  --color-brand-white-secondary: #FAF9F6;
  --color-brand-white-tertiary: #F0F2F5;
  --color-brand-divider: #EDEDED;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F5F5F5;
  color: #121212;
}

.fade-in-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}
